<div v-if="blocks && blocks.length">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="header">
                <select class="form-control form-control-sm" v-model="order">
                    <option value="age">Order chronological</option>
                    <option value="progress">Order by Unlock Progress</option>
                    <option value="currency">Order by Currency</option>
                    <option value="effort">Order by Effort</option>
                </select>
            </div>

            <transition-group name="block" tag="div" class="blocks">
                <div v-for="item in blocks" :key="item.id" class="block">
                    <div class="block-inner" @click="onBlockClick(item)">
                        <div class="icon">
                            <img :src="poolIcons[item.poolId]" :alt="item.symbol" :title="item.symbol" />
                        </div>
                        <div class="info">
                            <p class="height">Block {{ item.blockHeight }} <span :class="{ effort: true, low: item.effort <= 1.5, high: item.effort > 2.5, medium: item.effort > 1.5 }" v-if="item.effort != null">({{item.effort | percent}})</span></p>
                            <p class="timestamp">Found {{item.created | momentAgo}} by pool {{ item.poolId }} [{{ item.source != null ? item.source.toUpperCase() : "" }}]</p>
                        </div>
                        <div class="block-progress" v-if="item.status === 'pending'">
                            <div :class="['c100', 'p' + Math.ceil(item.confirmationProgress * 100)]" :title="$t('common.lblBlockRewardPendingTooltip')" v-bs-tooltip="{ placement: 'bottom', delay: { show: 300 }}">
                                <span>{{item.confirmationProgress | percent}}</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
</div>
<h3 class="no-data" v-else>No pending blocks</h3>
