<div>
    <table class="table pool-blocks table-striped">
        <thead>
            <tr>
                <th class="timestamp">{{ $t('common.lblBlockFound') }}</th>
                <th class="height">{{ $t('common.lblBlockHeight') }}</th>
                <th class="status">{{ $t('common.lblBlockStatus') }}</th>
                <th class="reward">{{ $t('common.lblBlockReward') }}</th>
                <th class="diff">{{ $t('common.lblBlockDiff') }}</th>
                <th class="effort">{{ $t('common.lblBlockEffort') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in blocks">
                <td class="timestamp" :title=formatTimestampTooltip(item) v-bs-tooltip="{ placement: 'bottom', delay: { show: 300 }}">{{item.created | momentAgo}} <i class="fa fa-info-circle dimmed" aria-hidden="true"></i></td>
                <td class="height">
                    <i v-if="item.type != null" :title="item.type.charAt(0).toUpperCase() + item.type.slice(1)" class="fa fa-info-circle" v-bs-tooltip="{ placement: 'bottom', delay: { show: 300 }}">&nbsp;</i>
                    <a target="_blank" :href="item.infoLink">{{item.blockHeight}}</a>
                </td>

                <td class="status" v-if="item.status === 'pending'">
                    <div :class="['c100', 'p' + Math.ceil(item.confirmationProgress * 100)]" :title="$t('common.lblBlockRewardPendingTooltip')" v-bs-tooltip="{ placement: 'bottom', delay: { show: 300 }}">
                        <span>{{item.confirmationProgress | percent}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </td>
                <td class="status" v-else>{{ $t('myStats.BlockStatus.' + item.status) }}</td>

                <td class="reward" v-if="item.reward">{{item.reward | currency(3)}}</td>
                <td class="reward" v-else></td>

                <td class="diff">
                    <div v-if="item.networkDifficulty" :title=Math.ceil(item.networkDifficulty) v-bs-tooltip="{ placement: 'bottom', delay: { show: 300 }}">
                        {{item.networkDifficulty | quantity}}
                    </div>
                </td>

                <td :class="{ effort: true, low: item.effort <= 1.5, high: item.effort > 2.5, medium: item.effort > 1.5 }" v-if="item.effort != null">{{item.effort | percent}}</td>
                <td class="effort" v-else></td>
            </tr>
        </tbody>
    </table>

    <div v-if="isBusy" class="spinner-container row flex-items-xs-middle">
        <div class="col-sm-12">
            <spinner title="Loading ..."></spinner>
        </div>
    </div>

    <div v-if="!blocks.length" class="text-xs-center">
        <h2 class="no-data">No Results</h2>
    </div>

    <div v-if="pageCount > 1 && (currentPage > 0 || blocks.length > 0)" class="mini-pager">
        <button class="btn btn-sm btn-outline-primary" @click="onPagePrev" :disabled="currentPage === 0"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="btn btn-sm btn-outline-primary" @click="onPageNext" :disabled="currentPage === pageCount"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>
